body {
    margin: auto;
    max-width: 400px;
    text-align: center;
    background-color: #F0EDE8;
}

img {
    margin: auto;
    display: block;
    width: 300px;
    height: 400px;
    margin-bottom: 20px;
}

img {
    background-color: rgb(99, 98, 97);
    padding: 5px;
}